{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ list.name }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url "index" %}">Home</a></li>
        </ul>
    </nav>
    <div class="container">
    <h1>{{ list.name}}</h1>

    <ul class="list">
         {% for item in list.items.all %}
         <li class="list-item">{{ item.text}} 
            {% if item.completed  %}
            (completed)
            {% endif %}  <a href="{% url "delete_item" item.id %}" class="delete-btn">X</a></li>
         {% endfor %}
    </ul>

    <a class="add-btn" href="{% url "add_item" list.id %}">
        Add Item
    </a>

</div>
</body>
</html>